:root{
	--box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
	--border:.1rem solid rgba(0,0,0,.2)
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html{
	font-size: 62.5%;
}
a{
	text-decoration: none;
}
ul li{
	list-style: none;
}
.container{
	width: 80%;
	margin: 0 auto;
}
